<h1>Enter ID to view photostream!</h1>

<%= form_for(:staticpages) do |f| %>

     <%= f.label :enter_id %>
     <%= f.text_field :enter_id, class: 'form-control' %> <br> <br>

     <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>


<%@photos.each do |photo| %>
  <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
<% end %>
